@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,800);
header {
    color: #000000;
    font: 84px "Source Sans Pro", sans-serif;
    font-weight: 600;
    text-align: center;
    border: 5px solid #000000;
    color: #0000ff;
    background-color: #00ddff;
}