<!DOCTYPE html>
<html>
{{template "globalhead" "Forum"}}
<body>
    <p><a href="/createthread/">Create a Post</a></p>
    {{if .Top}}
    {{range $t := .Top}}
    {{template "threadwidget" $t}}
    {{end}}
    {{else}}
    <h1>its quiet here</h1>
    {{end}}
</body>
</html>