<!Doctype html>
<html>
{{template "globalhead" "About Us"}}
<style>
    #header {
        font-size: 20px;
    }
    #nameHeader {
        font-size: 15px;
    }
    #god {
        font-size: 30px;
    }
    #blubywaff {
        font-size: 100px;
    }
</style>
<h1 id="header">About Us</h1>
<body>
<h3 id="nameHeader">THE BIG MAN</h3>
<p id="blubywaff"><strong><b><i>Blubywaff</i></b></strong><p>
<p><span id="god">GOD</span> of this website. Creator of all in this place. Lord of the Internet.</p>
</body>
</html>