<!DOCTYPE html>
<html>
{{template "globalhead" "Account"}}

<body>
    <p>Username: {{.Username}}</p><br>
    <p>Email: {{.Email}}</p><br>
    <p>Name: {{.Firstname}} {{.Lastname}}</p><br>
    <img src="/account/profilepicture" width="100" height="100">
    <form method="POST" enctype="multipart/form-data" id="profile-form">
        <label for="idx-f">Update Profile Picture</label><br>
        <input type="file" id="idx-f" name="file"><br>
        <input type="submit" value="Update"><br>
        <p id="fileError"></p>
    </form>
    
</body>
<body>
<script>
    var fileError = document.querySelector('#fileError');
    var form = document.querySelector('#profile-form');

    form.addEventListener('submit', function(e){
        e.preventDefault();
        if(!window.FileReader) {
            fileError.textContent = "Javascript Error: FileReader";
            return;
        }

        var input = document.getElementById('idx-f');
        if (!input) {
            fileError.textContent = "Javascript Error: input";
        }
        else if (!input.files) {
            fileError.textContent = "Javascript Error: input files";
        }
        else if (!input.files[0]) {
            fileError.textContent = "Input a file";
        }
        else {
            var file = input.files[0];
            if(file.name.toLowerCase().endsWith(".png") || file.name.toLowerCase().endsWith(".jpg")) {
                form.submit();
            } else {
                fileError.textContent = "Input a png or jpg";
            }
        }
    });
</script>
</body>
</html>