<!DOCTYPE html>
<html>
{{template "globalhead" "Create a Post"}}
<body>
    <form method="post" id="create-thread-form">
        <input type="Text" id="title" name="title" value="Title" />
        <textarea id="body" name="body" rows="5" cols="80">The Body of your post</textarea>
    </form>
</body>
</html>