<!DOCTYPE html>
<html>
{{template "globalhead" "Create a Comment"}}
<body>
    <h1></h1>
    <form method="post" id="create-comment-form">
        <textarea id="content" name="content" rows="5" cols="80">The content of your comment</textarea>
        <input type="submit" value="Comment">
    </form>
</body>
</html>