<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144904340-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-144904340-1');//
    </script>
        <style>
            @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,800);
            header {
                color: #000000;
                font: 84px "Source Sans Pro", sans-serif;
                font-weight: 600;
                text-align: center;
                border: 5px solid #000000;
                color: #0000ff;
                background-color: #00ddff;
            }
            .nav {
                background-color: yellow;
                list-style-type: none;
                text-align: center;
                margin: 0;
                padding: 0;
            }
            .nav li {
                display: inline-block;
                font-size: 20px;
                padding: 20px;
            }
            .spacer10 {
                padding: 10px;
            }
        </style>

        <link rel="icon" type="image/ico" href="favicon.ico" />
        <title>Galleta Games and Software</title>
    </head>
    <div class="spacer10"></div>
    <head>
        <ul class="nav">
            <li><a href="/home/">Home</a></li>
            <li><a href="/proofos/">Proof of skills</a></li>
            <li><a href="#clients">Products</a></li>
            <li><a href="/aboutus/">About Us</a></li>
        </ul>
    </head>
    <div class="spacer10"></div>
    <header>Galleta Games and Software</header>

</html>