<!DOCTYPE html>
<html lang="en">
{{template "globalhead" "Galleta Games and Software"}}

<style>
    * {
        cursor: default;
    }

    #navbar {
        --background: #ff2020;
        --text-color: #ffffff;
    }
    #navbar {
        background-color: var(--background);
        padding: 20px;
        min-height: 32px;
    }
    #navbar .element {
        display: inline-block;
    }
    #account {
        float: right;
    }
    #navbar .element span:not(#sidenav-button) {
        font-size: x-large;
        margin-right: 20px;
        color: var(--text-color);
        text-decoration: none;
        cursor: pointer;
    }
    #navbar .element span#sidenav-button {
        font-size: large;
        margin-right: 20px;
        color: var(--text-color);
        text-decoration: none;
        cursor: pointer;
        width: 18px;
        display: inline-block;

    }
    #navbar .element span:hover {
        color: #cccccc;
    }

    body {
        background-color: #ffffff;
    }
    #title-name {
        font-size: xxx-large;
        text-align: center;
    }
    #title-name {
        color: #0000ff;
        background-color: #00ddff;
        border: 5px solid #000000;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
    }

    #sidenav {
        width: 0;
        z-index: 1;
        transition: 0.5s;
        background-color: #222222;
        opacity: 80%;
        height: 100%;
        position: fixed;
    }
</style>

<script>
    function openSideNav() {
        document.getElementById("sidenav").style.width = "250px";
        document.getElementById("sidenav-button").innerHTML = "&#128473";
    }
    function closeSideNav() {
        document.getElementById("sidenav").style.width = "0px";
        document.getElementById("sidenav-button").innerHTML = "&#9776";
    }
    function toggleSideNav() {
        (document.getElementById("sidenav").style.width === "0px")?openSideNav():closeSideNav();
    }
</script>

<div id="navbar">
    <div id="nav" class="element">
        <span id="sidenav-button" onclick="toggleSideNav();">&#9776</span>
        <span id="home-nav" onclick="window.location.href='/home/'">Home</span>
        <span id="forum-nav" onclick="window.location.href='/forum/'">Forum</span>
        <span id="game-nav" onclick="window.location.href='/webgame/'">Game</span>
    </div>
    <div id="account" class="element">
        <span id="account-nav" onclick="window.location.href='/login/'">Login</span>
    </div>
</div>

<div id="sidenav">

</div>

<div id="title-name">Galleta Games and Software</div>
</html>