<!DOCTYPE html>
<html>
{{template "globalhead" "New Player"}}
<body>
<h3>You appear to be a new player!</h3>
<p>You can:</p>
<a href="/webgame/training">Play at the <b>Training Ground</b></a><br>
<a href="/webgame/details">Read the <b>Game Details</b></a><br>
<a href="/webgame/start">Or go straight to a <b>New Base</b></a><br>
</body>
</html>