<!DOCTYPE html>
<html lang="en">
{{template "globalhead" "Proof Of Skills"}}
<head>
    <style>
        .POSlink button{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 12px 24px;
            text-align: center;
            text-decoration: none;
            font-size: 24px;
            display: inline-block;
            margin: auto;
        }
        .POSlink {
            text-align: center;
        }
    </style>
</head>
<div class="spacer10"></div>
<ul class="nav">
    <li><a href="/home/">Home</a></li>
    <li><a href="/proofos/">Proof of skills</a></li>
    <li><a href="#clients">Products</a></li>
    <li><a href="#contact">About Us</a></li>
</ul>
<div class="spacer10"></div>
<header>Proofs of Skills</header>
<div class="spacer10"></div>
<body class="POSlink">
<button onclick="window.location.href='Weibull-WeibullHTML.html'">Weibull</button>
<button onclick="window.location.href='Timer-TimerHTML.html'">Timer</button>
</body>
</html>