<!DOCTYPE html>
<html lang="en">
{{template "globalhead" .Title}}

<style>
    * {
        cursor: default;
    }

    #navbar {
        --background: #ff2020;
        --text-color: #ffffff;
        --text-hover-color: #cccccc;
    }

    #navbar {
        background-color: var(--background);
        padding: 20px;
        min-height: 32px;
    }

    #navbar .element {
        display: inline-block;
        vertical-align: middle;
    }

    #navbar .element #sidenav-button {
        cursor: pointer;
        display: inline-block;
        margin-right: 20px;
    }

    #navbar .element #sidenav-button * {
        width: 20px;
        height: 3px;
        background-color: var(--text-color);
        margin: 4px 0;
        transition: transform 0.5s, opacity 0.5s;
        cursor: inherit;
    }

    #navbar .element #sidenav-button:hover * {
        background-color: var(--text-hover-color);
    }

    #navbar .element .text {
        font-size: x-large;
        margin-right: 20px;
        color: var(--text-color);
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
    }

    #navbar #nav .text {
        float: right;
    }

    #navbar #account {
        float: right;
    }

    .change #bar1 {
        transform: translate(0px, 7px) rotate(-45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: translate(0px, -7px) rotate(45deg);
    }

    #navbar .element div.text:hover {
        color: var(--text-hover-color);
    }

    body {
        background-color: #ffffff;
    }

    #sidenav {
        z-index: 1;
        transition: 0.5s;
        background-color: #222222;
        opacity: 80%;
        height: 100%;
        position: fixed;
    }
</style>

<script>
    function toggleSideNav() {
        document.getElementById("sidenav").style.width = (document.getElementById("sidenav").style.width === "0px") ? "250px" : "0";
        document.getElementById("sidenav-button").classList.toggle("change");
    }
</script>

<script>
    function numifyAll() {
        let scores = $('.score-line .score-display');
        for (let i = 0; i < scores.length; i++) {
            let score = scores[i];
            score.innerText = numberify(parseInt(score.innerText));
        }
    }
</script>

<script>
    window.onload = function(event) {
        let commentClicks = $('.comment-line');
        for(let i = 0; i < commentClicks.length; i++) {
            console.log(commentClicks[i].firstChild);
            commentClicks[i].firstChild.addEventListener('click', commentClickHandler);
        }
        numifyAll();
    }

    function commentClickHandler(event) {
        commentCloseHandler(event);
        console.log(eee = event.target);
        let inner = '<form method="post" id="create-comment-form">' +
        '<textarea id="content" name="content" rows="5" cols="80" onclick="return false;" placeholder="The content of your comment"></textarea>' +
        '</form>' +
        '<button refID="<<REFID>>">Comment</button>';
        inner = inner.replace("<<REFID>>", event.target.getAttribute("refID"));
        let parent = event.target.parentNode;
        parent.innerHTML = inner;
        $(parent.childNodes).filter('button')[0].addEventListener('click', commentHandler);
    }

    function commentCloseHandler(event) {
        let cLines = $('.comment-line');
        for (let i = 0; i < cLines.length; i++) {
            if(cLines[i].firstChild.matches('form')) {
                let refID = cLines.eq(0).children().find('button').attr('refID');
                cLines[i].innerHTML = "<div refid='"+refID+"'>Comment</div>";
                cLines[i].firstChild.addEventListener('click', commentClickHandler);
            }
        }
    }

    function commentHandler(event) {
        console.log("Submit Comment");
        let ref = event.target.getAttribute("refID");
        let text = event.target.previousSibling.firstChild.value;
        console.log(text);
        console.log($(event.target.previousSibling)[0]);
        $.ajax({url:'/forum/comment/?'+ref, type: 'POST', data: new FormData($(event.target.previousSibling)[0]), contentType: false, processData: false, success: function(result){console.log(result)}});
    }
</script>

<div id="navbar">
    <div id="nav" class="element">
        <div id="sidenav-button" onclick="toggleSideNav();">
            <div id="bar1"></div>
            <div id="bar2"></div>
            <div id="bar3"></div>
        </div>
        <div id="game-nav" class="text" onclick="window.location.href='/webgame/'">Game</div>
        <div id="forum-nav" class="text" onclick="window.location.href='/forum/'">Forum</div>
        <div id="home-nav" class="text" onclick="window.location.href='/home/'">Home</div>
    </div>
    <div id="account" class="element">
        <div id="account-nav" class="text clickable" onclick="window.location.href='/account/'">{{if .}}<img src="/account/profilepicture" width="32px">{{else}}Login{{end}}</div>
    </div>
</div>

<div id="sidenav" style="width: 0;">
</div>

<script>

</script>

<style>
    body {
        background: #333333;
        color: #eeeeee;
    }

    div.content-wrapper {
        margin-left: 20px;
    }

    div.title-line {
        font: 36px "Times New Roman";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 10px;
    }

    div.score-title-line {
        vertical-align: center;
        position: relative;
    }

    div.score-line .like-button {
        margin-bottom: -7px;
    }

    div.score-line .dislike-button {
        margin-top: -7px;
    }

    div.score-line .like-button:hover{
        color: #88f
    }

    div.score-line .dislike-button:hover {
        color: #f88
    }

    div.score-title-line .title-line {
        display: inline-block;
    }
    div.score-title-line .score-line {
        display: inline-block;
    }
</style>

<body>
    {{template "thread" .}}
</body>
</html>