<!DOCTYPE html>
<html>
{{template "globalhead" "Training"}}
<body>
<h1>Training Ground</h1>
<a href="/webgame/training/?scenario=1">Scenario 1</a><br>
<a href="/webgame/training/?scenario=2">Scenario 2</a>
</body>
</html>