<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Login</title>
<head>
<body>

<form method="post">

    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <label for="login">Login</label>
    <input type="submit" id="login">

</form>

<h2><a href="/signup">signup<a></h2>

</body>
</html>